<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <!-- my own css file link in the last position to be priority-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/cars.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-50">
        <h4> Details Page for <%= cat.Name %> </h4>
    </nav>
    
    <div class="container">
        <h4> Details Page for <%= cat.Name %> </h4>
        <img src="/images/cat_<%= cat.id %>.jpeg" alt="image of cat_<%= cat.id %>"><br>
        <% for(var j = 1; j<Object.keys(cat).length-1; j++){ %>
        <h5><%= Object.keys(cat)[j] %>: <%= cat[Object.keys(cat)[j]] %></h5>
        <% } %> 
        <h5><%= Object.keys(cat)[j] %>:</h5>
        <% for(var i = 0; i<cat[Object.keys(cat)[Object.keys(cat).length-1]].length; i++){ %>
        <h6><%= cat[Object.keys(cat)[Object.keys(cat).length-1]][i] %></h5>
        <% } %>
    </div>
</body>
</html>